
*.gdnlib
addons/godot-git-plugin/git_api.gdns
addons/godot-git-plugin/osx/release/libgitapi.dylib
addons/godot-git-plugin/plugin.cfg
addons/godot-git-plugin/win64/release/libgitapi.dll
addons/godot-git-plugin/x11/release/libgitapi.so
